In [1]:
import pandas as pd

In [2]:
BASE_PATH = "./Data"

FOLDERS = {
    "ba": "BeerAdvocate",
    "rb": "RateBeer",
    "mbd": "MatchedBeerData"
}

FILES = {
    "ba": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "users": "users.csv",
        #"ratings": "ratings.txt.gz",
        #"reviews": "reviews.txt.gz"
    },
    "rb": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "users": "users.csv",
        #"ratings": "ratings.txt.gz",
        #"reviews": "reviews.txt.gz"
    },
    "mbd": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "ratings": "ratings.csv",
        "users": "users.csv",
        "users approx": "users_approx.csv"}
}

In [3]:
def build_path(folderind: str, fileind: str, basepath=BASE_PATH):
    return "/".join([basepath, FOLDERS[folderind], FILES[folderind][fileind]])

def sample(df, n=10, keepna=True):
    shuffled = df.sample(frac=1) # shuffles rows
    return (shuffled.dropna() if not keepna else shuffled).head(n)

# Beer Advocate

### BeerAdvocate: Beers

In [4]:
beeradvoc_beers = pd.read_csv(build_path("ba", "beers"), nrows=100)
beeradvoc_beers.columns

Index(['beer_id', 'beer_name', 'brewery_id', 'brewery_name', 'style',
       'nbr_ratings', 'nbr_reviews', 'avg', 'ba_score', 'bros_score', 'abv',
       'avg_computed', 'zscore', 'nbr_matched_valid_ratings',
       'avg_matched_valid_ratings'],
      dtype='object')

In [5]:
sample(beeradvoc_beers)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
70,178832,Dry Stout,41205,Barrahooley Brewery,Irish Dry Stout,0,0,NaN,NaN,NaN,4.8,NaN,NaN,0,NaN
39,178690,Stitch,40360,Walled City Brewing Company,American IPA,1,0,3.73,NaN,NaN,5.0,3.730000,NaN,0,NaN
32,178681,Sheelin Stout,32848,The Sheelin Brewery,Irish Dry Stout,0,0,NaN,NaN,NaN,4.5,NaN,NaN,0,NaN
83,219504,D'Etre Deux,40307,Boundary Brewing Cooperative,Saison / Farmhouse Ale,0,0,NaN,NaN,NaN,6.7,NaN,NaN,0,NaN
24,19590,Barelegs Brew,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,4,4,3.85,NaN,NaN,4.5,3.845000,NaN,0,NaN
34,7331,Stout,297,Thomas Caffrey Brewing Co.,American Stout,6,4,3.46,NaN,NaN,4.7,3.516667,NaN,0,NaN
29,153718,Sheelin Blonde Ale,32848,The Sheelin Brewery,American Blonde Ale,1,0,4.53,NaN,NaN,NaN,4.530000,NaN,0,NaN
27,20842,St. Patrick's Best,10093,Strangford Lough Brewing Company Ltd,English Bitter,64,48,3.56,82.0,90.0,4.2,3.556094,-0.478579,48,3.580417
33,825,Caffrey's Irish Ale,297,Thomas Caffrey Brewing Co.,Irish Red Ale,131,82,3.23,77.0,85.0,3.8,3.286260,NaN,0,NaN
63,178682,Cardy Man,40309,Ards Brewing Company,Irish Dry Stout,0,0,NaN,NaN,NaN,5.1,NaN,NaN,0,NaN

### BeerAdvocate: Breweries

In [6]:
beeradvoc_breweries = pd.read_csv(build_path("ba", "breweries"), nrows=100)
beeradvoc_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers'], dtype='object')

In [7]:
sample(beeradvoc_breweries)

       id          location                         name  nbr_beers
35  20776             Wales          The Celt Experience         35
67  34649             Wales             Redstone Brewery          1
99    323          Scotland     Harviestoun Brewery Ltd.         74
68  34598             Wales              Rhymney Brewery          2
54  29831             Wales            Kingstone Brewery          8
12  40360  Northern Ireland  Walled City Brewing Company          6
73  33351             Wales         Big Hand Brewing Co.          3
75  41808             Wales         Boss Brewing Company          5
83  33361             Wales                    Cwrw Llŷn          1
62  13092             Wales        Otley Brewing Company         22

### BeerAdvocate: Users

In [8]:
beeradvoc_users = pd.read_csv(build_path("ba", "users"), nrows=100)
beeradvoc_users.columns

Index(['nbr_ratings', 'nbr_reviews', 'user_id', 'user_name', 'joined',
       'location'],
      dtype='object')

In [9]:
sample(beeradvoc_users)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
53,1241,1231,jayli.193663,Jayli,1.202468e+09,"United States, Massachusetts"
32,2023,2023,treyliff.490010,Treyliff,1.281434e+09,"United States, West Virginia"
44,11,11,dkight.530009,DKight,1.290683e+09,"United States, Indiana"
60,424,344,beerbuddha.123204,Beerbuddha,1.171710e+09,"United States, Florida"
34,271,182,derekp.400402,DerekP,1.259924e+09,"United States, Pennsylvania"
98,517,501,mralphabet.97370,mralphabet,1.157969e+09,"United States, Virginia"
38,292,292,beerprovedwright.484930,beerprovedwright,1.280311e+09,"United States, Georgia"
39,5319,5028,oberon.256,oberon,1.013512e+09,"United States, North Carolina"
89,7093,6469,metter98.95017,metter98,1.156846e+09,"United States, New York"
87,1513,116,rorjets.704136,rorjets,1.353409e+09,"United States, Connecticut"

# RateBeer

### RateBeer: Beers

In [10]:
ratebeer_beers = pd.read_csv(build_path("rb", "beers"), nrows=100)
ratebeer_beers.columns

Index(['beer_id', 'beer_name', 'brewery_id', 'brewery_name', 'style',
       'nbr_ratings', 'overall_score', 'style_score', 'avg', 'abv',
       'avg_computed', 'zscore', 'nbr_matched_valid_ratings',
       'avg_matched_valid_ratings'],
      dtype='object')

In [11]:
sample(ratebeer_beers)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
15,336216,Bittles East Coast,13538,Ards Brewing Co.,American Pale Ale,1,NaN,NaN,2.94,5.0,3.000000,NaN,0,NaN
7,396830,Ards Cardy Man,13538,Ards Brewing Co.,Stout,1,NaN,NaN,2.96,4.2,3.100000,NaN,0,NaN
2,19445,Régab,3198,Sobraga,Pale Lager,27,1.0,22.0,1.83,4.5,1.811111,NaN,0,NaN
69,447436,Boundary Push & Pull Hemi,22818,Boundary,India Pale Ale (IPA),6,NaN,NaN,3.23,5.5,3.416667,NaN,0,NaN
8,256772,Ards Hip Hop,13538,Ards Brewing Co.,American Pale Ale,1,NaN,NaN,2.88,5.2,3.700000,NaN,0,NaN
50,328953,Boundary Export Stout,22818,Boundary,Foreign Stout,45,89.0,66.0,3.52,7.0,3.571111,NaN,0,NaN
12,253129,Ards Single Hop Nelson Sauvin Pale Ale,13538,Ards Brewing Co.,American Pale Ale,1,NaN,NaN,2.80,5.8,3.100000,NaN,0,NaN
24,386911,Boundary / Lambert and Sons Push & Pull Great ...,22818,Boundary,Black IPA,0,NaN,NaN,NaN,5.5,NaN,NaN,0,NaN
79,336170,Boundary Sour Bake,22818,Boundary,Sour/Wild Ale,1,NaN,NaN,3.04,3.0,3.500000,NaN,0,NaN
48,447431,Boundary Detre Ultime,22818,Boundary,Saison,19,40.0,11.0,3.06,4.1,3.084211,NaN,0,NaN

### RateBeer: Breweries

In [12]:
ratebeer_breweries = pd.read_csv(build_path("rb", "breweries"), nrows=100)
ratebeer_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers'], dtype='object')

In [13]:
sample(ratebeer_breweries)

,id,location,name,nbr_beers
46,13273,Singapore,LeVeL33 Craft-Brewery Restaurant & Lounge,12
91,28662,China,Dezhou Lanjian Brewery (CRB - SABMiller),1
96,29826,China,Flow Brew 如流精酿,1
51,9453,Singapore,RedDot Brewhouse,17
54,21778,Singapore,The 1925 Microbrewery & Restaurant,7
29,25181,Northern Ireland,When We Are Giants Ltd,3
47,26526,Singapore,Little Island Brewing Co,6
56,13999,Singapore,Barefoot Brewing Company,11
71,20962,China,Beijing Naale Industry Group,10
83,16594,China,Chengdu Harvest,12

### RateBeer: Users

In [14]:
ratebeer_users = pd.read_csv(build_path("rb", "users"), nrows=100)
ratebeer_users.columns

Index(['nbr_ratings', 'user_id', 'user_name', 'joined', 'location'], dtype='object')

In [15]:
sample(ratebeer_users)

,nbr_ratings,user_id,user_name,joined,location
19,8291,5986,Hansen,1.036667e+09,Denmark
9,5795,17111,Cletus,1.100257e+09,"United States, Connecticut"
90,4690,138565,kerenmk,1.319623e+09,Israel
43,354,272492,Padchenko,1.375524e+09,Ireland
78,1482,357380,redders1974,1.423480e+09,England
89,1269,123742,humlelala,1.297940e+09,Denmark
79,5319,105677,mr_h,1.272881e+09,Scotland
87,7032,207907,McTapps,1.343470e+09,Germany
47,7382,249130,The_Osprey,1.363172e+09,England
58,1962,150807,McNeillR,1.326280e+09,Scotland

# MatchedBeerData

### MatchedBeerData: Beers

In [16]:
matchedbeer_beers = pd.read_csv(build_path("mbd", "beers"), nrows=1)
matchedbeer_beers.columns

Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'ba.7', 'ba.8',
       'ba.9', 'ba.10', 'ba.11', 'ba.12', 'ba.13', 'ba.14', 'ba.15', 'rb',
       'rb.1', 'rb.2', 'rb.3', 'rb.4', 'rb.5', 'rb.6', 'rb.7', 'rb.8', 'rb.9',
       'rb.10', 'rb.11', 'rb.12', 'rb.13', 'rb.14', 'scores', 'scores.1'],
      dtype='object')

In [17]:
matchedbeer_beers = pd.read_csv(build_path("mbd", "beers"), nrows=100, skiprows=1)
matchedbeer_beers.columns

Index(['abv', 'avg', 'avg_computed', 'avg_matched_valid_ratings', 'ba_score',
       'beer_id', 'beer_name', 'beer_wout_brewery_name', 'brewery_id',
       'brewery_name', 'bros_score', 'nbr_matched_valid_ratings',
       'nbr_ratings', 'nbr_reviews', 'style', 'zscore', 'abv.1', 'avg.1',
       'avg_computed.1', 'avg_matched_valid_ratings.1', 'beer_id.1',
       'beer_name.1', 'beer_wout_brewery_name.1', 'brewery_id.1',
       'brewery_name.1', 'nbr_matched_valid_ratings.1', 'nbr_ratings.1',
       'overall_score', 'style.1', 'style_score', 'zscore.1', 'diff', 'sim'],
      dtype='object')

In [18]:
sample(matchedbeer_beers)

,abv,avg,avg_computed,avg_matched_valid_ratings,ba_score,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,...,brewery_id.1,brewery_name.1,nbr_matched_valid_ratings.1,nbr_ratings.1,overall_score,style.1,style_score,zscore.1,diff,sim
34,5.0,3.51,3.563333,3.48,NaN,178834,08 Kolsch,08 Kolsch,41203,Northbound Brewery,...,20049,Northbound Brewery,23,23,48.0,Kölsch,85.0,-0.476903,1.000000,1.000000
80,3.7,3.68,3.680000,NaN,NaN,158166,Lemon Drizzle,Lemon Drizzle,31060,The Waen Brewery,...,10455,Waen,20,20,42.0,Golden Ale/Blond Ale,70.0,-0.625661,1.000000,1.000000
63,4.7,3.50,3.500000,NaN,NaN,103110,Cherry Diva,Cherry Diva,8412,The Plassey Brewery,...,2616,Plassey,11,11,26.0,Fruit Beer,44.0,-1.084308,0.949146,0.949146
3,4.8,3.96,3.960000,3.96,NaN,22659,St. Patrick's Gold,Patricks Gold St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,4,4,NaN,Amber Ale,NaN,-0.758491,0.527141,1.000000
26,5.0,NaN,NaN,NaN,NaN,178678,Rathlin Red,Rathlin Red,40310,Glens of Antrim Ale,...,21530,Glens of Antrim,6,6,NaN,Irish Ale,NaN,-0.405279,1.000000,1.000000
15,10.8,4.03,4.030000,NaN,NaN,268387,Baltic Porter 2016,Baltic 2016 Porter,36583,Farmageddon Brewing Co-op,...,19507,Farmageddon Brewing Co-Op,9,9,NaN,Baltic Porter,NaN,0.429358,0.707442,1.000000
12,3.8,3.02,3.020000,NaN,NaN,258899,Moovin' On Up,Moovin On Up,45082,Bullhouse Brewing Company,...,27006,Bullhouse Brewing Company,1,1,NaN,Mild Ale,NaN,-0.994526,1.000000,1.000000
62,4.5,3.75,3.750000,NaN,NaN,122861,Special Bitter,Special Bitter,33360,The Handmade Beer Co.,...,18262,Handmade Beer Co.,4,4,NaN,Bitter,NaN,-0.113624,1.000000,1.000000
84,5.8,NaN,NaN,NaN,NaN,158167,Three Minute Hero,Minute Hero Three,31060,The Waen Brewery,...,10455,Waen,1,1,NaN,American Pale Ale,NaN,0.693941,1.000000,1.000000
8,4.4,NaN,NaN,NaN,NaN,169949,Rockin’ Goose,Rockin’ Goose,40309,Ards Brewing Company,...,13538,Ards Brewing Co.,3,3,NaN,Irish Ale,NaN,-0.151824,1.000000,1.000000

### MatchedBeerData: Breweries

In [19]:
matchedbeer_breweries = pd.read_csv(build_path("mbd", "breweries"), nrows=100, skiprows=1)
matchedbeer_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers', 'id.1', 'location.1', 'name.1',
       'nbr_beers.1', 'diff', 'sim'],
      dtype='object')

In [20]:
sample(matchedbeer_breweries)

,id,location,name,nbr_beers,id.1,location.1,name.1,nbr_beers.1,diff,sim
55,323,Scotland,Harviestoun Brewery Ltd.,74,1560,Scotland,Harviestoun,144,0.388168,0.824178
44,8404,Wales,Bullmastiff Brewery,1,2808,Wales,Bullmastiff,18,0.662249,0.955910
32,42410,Wales,Mad Dog Brewing Co.,3,21020,Wales,Mad Dog Brewing Co,28,0.316879,1.000000
90,42369,Scotland,Andrew Usher & Co.,7,21604,Scotland,Andrew Usher & Co.,54,0.627679,1.000000
54,47786,Scotland,Grunting Growler,2,29646,Scotland,Grunting Growler,2,0.402394,1.000000
62,40932,Scotland,Krafty Brew,0,20843,Scotland,Krafty Brew,39,0.568958,1.000000
52,3411,Scotland,Fyne Ales Ltd,37,2774,Scotland,Fyne Ales,147,0.455281,0.880563
49,22410,Wales,Great Orme Brewery,7,6791,Wales,Great Orme,23,0.502820,0.969157
75,49346,Scotland,Campervan Brewery,4,23683,Scotland,Campervan Brewery,13,0.706339,1.000000
33,34189,Wales,Mantle Brewery,4,18266,Wales,Mantle,5,0.662249,0.955910

### MatchedBeerData: Ratings

In [33]:
matchedbeer_ratings = pd.read_csv(build_path("mbd", "ratings"), nrows=100, skiprows=1)
matchedbeer_ratings.columns

Index(['abv', 'appearance', 'aroma', 'beer_id', 'beer_name', 'brewery_id',
       'brewery_name', 'date', 'overall', 'palate', 'rating', 'review',
       'style', 'taste', 'text', 'user_id', 'user_name', 'abv.1',
       'appearance.1', 'aroma.1', 'beer_id.1', 'beer_name.1', 'brewery_id.1',
       'brewery_name.1', 'date.1', 'overall.1', 'palate.1', 'rating.1',
       'style.1', 'taste.1', 'text.1', 'user_id.1', 'user_name.1'],
      dtype='object')

In [22]:
sample(matchedbeer_ratings)

,abv,appearance,aroma,beer_id,beer_name,brewery_id,brewery_name,date,overall,palate,...,brewery_name.1,date.1,overall.1,palate.1,rating.1,style.1,taste.1,text.1,user_id.1,user_name.1
53,5.0,NaN,NaN,5281,Cantillon Fou' Foune,388,Brasserie Cantillon,1389178800,NaN,NaN,...,Cantillon,1446634800,18.0,4.0,4.4,Lambic Style - Fruit,9.0,Bottle shared at Moeder Lambic. Pours cloudy ...,111648,kermis
40,4.0,NaN,NaN,90401,Brains Organ Morgan,801,Brains,1388574000,NaN,NaN,...,Brains,1420196400,12.0,3.0,3.0,Golden Ale/Blond Ale,6.0,"Part of my 2013 backlog, tried at the bowl inn...",295172,Mr_Pink_152
61,7.6,3.75,4.00,99,Spaten Optimator,142,Spaten-Franziskaner-Bräu,1429524000,3.75,4.25,...,Spaten-Franziskaner-Bräu &#40;InBev&#41;,1408442400,15.0,5.0,3.6,Doppelbock,6.0,A Doppelbock worth of drinking. Thin head to b...,266560,vinivini
12,10.0,4.25,4.25,175027,Power Of The Voodoo,30471,Beavertown Brewery,1436436000,4.50,4.25,...,Beavertown Brewery,1432893600,18.0,4.0,4.5,Imperial IPA,9.0,Can at home in London - sourced from Ales by M...,74136,Leighton
74,2.4,2.25,1.75,61008,Obolon Beer Mix Raspberry,601,Obolon Brewery,1432202400,2.50,2.25,...,Obolon,1417258800,8.0,2.0,1.9,Radler/Shandy,4.0,Can. Very pale yellow with weak bubbly head. T...,266560,vinivini
14,5.5,NaN,NaN,107324,American Classic,31902,Great Heck Brewing Company Ltd.,1388746800,NaN,NaN,...,Great Heck,1420196400,14.0,4.0,3.5,Amber Ale,7.0,part of my 2013 backlog. Dark amber brown colo...,295172,Mr_Pink_152
75,6.6,3.75,3.50,26528,Petrus Blond,718,De Brabandere,1432461600,3.50,4.00,...,De Brabandere,1434967200,15.0,5.0,3.8,Belgian Ale,7.0,"Deep golden, two finger foam, lasting lacing o...",266560,vinivini
0,11.3,4.50,4.50,645,Trappistes Rochefort 10,207,Brasserie de Rochefort,1324810800,5.00,4.50,...,Brasserie Rochefort,1387710000,19.0,4.0,4.6,Abt/Quadrupel,9.0,a) Geruch malzig-schwer-sÃ¼Ã. Riecht schon ...,83106,Erzengel
97,4.7,4.00,4.00,23729,White Lady,3403,"Cairngorm Brewery Company, The",1313488800,4.50,4.50,...,Cairngorm,1430647200,14.0,3.0,3.2,Wheat Ale,6.0,Cask.Interesting season which is quite decent ...,60140,zimbo
93,7.3,4.00,4.50,17669,Old Freddy Walker,9051,Moor Beer Company,1295694000,4.00,4.50,...,Moor,1357297200,16.0,4.0,3.8,Old Ale,7.0,Deep appetising damp concrete smell and stout ...,60140,zimbo

### MatchedBeerData: Users

In [23]:
matchedbeer_users = pd.read_csv(build_path("mbd", "users"), nrows=100, skiprows=1)
matchedbeer_users.columns

Index(['joined', 'location', 'nbr_ratings', 'nbr_reviews', 'user_id',
       'user_name', 'user_name_lower', 'joined.1', 'location.1',
       'nbr_ratings.1', 'user_id.1', 'user_name.1', 'user_name_lower.1'],
      dtype='object')

In [24]:
sample(matchedbeer_users)

,joined,location,nbr_ratings,nbr_reviews,user_id,user_name,user_name_lower,joined.1,location.1,nbr_ratings.1,user_id.1,user_name.1,user_name_lower.1
14,1.311502e+09,Canada,1,0,northropfrye.611791,northropfrye,northropfrye,1.311242e+09,Canada,3365,132236,northropfrye,northropfrye
79,1.289473e+09,"United States, Texas",1,1,llcooldave.524178,llcooldave,llcooldave,1.186913e+09,"United States, Texas",1053,59040,llcooldave,llcooldave
60,1.120212e+09,"United States, Massachusetts",2,2,thornecb.27046,thornecb,thornecb,1.131016e+09,"United States, Massachusetts",5431,29471,thornecb,thornecb
39,1.290337e+09,Canada,1925,11,tom10101.528127,tom10101,tom10101,1.302516e+09,Canada,5279,126758,tom10101,tom10101
91,1.168081e+09,"United States, Michigan",59,59,demitriustown.115521,demitriustown,demitriustown,1.110107e+09,"United States, Michigan",927,20503,demitriustown,demitriustown
77,1.351681e+09,"United States, Massachusetts",22,21,migwell.701440,migwell,migwell,1.349258e+09,"United States, Massachusetts",332,220687,migwell,migwell
84,1.216807e+09,"United States, Massachusetts",2,0,rcl.236813,RCL,rcl,1.128506e+09,"United States, Massachusetts",1684,28188,RCL,rcl
0,1.220868e+09,Germany,6,6,erzengel.248045,Erzengel,erzengel,1.224324e+09,Germany,8781,83106,Erzengel,erzengel
12,1.429351e+09,Belarus,360,1,vinivini.976387,vinivini,vinivini,1.372586e+09,Belarus,2409,266560,vinivini,vinivini
23,1.154686e+09,England,3050,3050,blackhaddock.90923,BlackHaddock,blackhaddock,1.258715e+09,England,7530,97853,BlackHaddock,blackhaddock

### MatchedBeerData: Users Approx

In [25]:
matchedbeer_usersapprox = pd.read_csv(build_path("mbd", "users approx"))#, nrows=100, skiprows=1)
matchedbeer_usersapprox.columns

Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'rb', 'rb.1',
       'rb.2', 'rb.3', 'rb.4', 'rb.5', 'scores'],
      dtype='object')

In [26]:
matchedbeer_usersapprox = pd.read_csv(build_path("mbd", "users approx"), nrows=100, skiprows=1)
matchedbeer_usersapprox.columns

Index(['joined', 'location', 'nbr_ratings', 'nbr_reviews', 'user_id',
       'user_name', 'user_name_lower', 'joined.1', 'location.1',
       'nbr_ratings.1', 'user_id.1', 'user_name.1', 'user_name_lower.1',
       'sim'],
      dtype='object')

In [27]:
sample(matchedbeer_usersapprox)

,joined,location,nbr_ratings,nbr_reviews,user_id,user_name,user_name_lower,joined.1,location.1,nbr_ratings.1,user_id.1,user_name.1,user_name_lower.1,sim
37,1.024481e+09,"United States, Ohio",2067,2067,dogbrick.487,Dogbrick,dogbrick,1.009624e+09,"United States, Ohio",11157,2714,Dogbrick,dogbrick,1.0
88,1.086084e+09,"United States, Wisconsin",2365,2255,drpimento.6585,drpimento,drpimento,1.109243e+09,"United States, Wisconsin",3244,20237,drpimento,drpimento,1.0
46,1.186826e+09,"United States, Colorado",151,151,ratman197.152490,Ratman197,ratman197,1.105528e+09,"United States, Colorado",13393,18957,Ratman197,ratman197,1.0
71,1.185962e+09,"United States, Texas",11,11,mar.150777,mar,mar,1.184062e+09,"United States, Texas",4528,57236,mar,mar,1.0
20,1.347098e+09,Sweden,54,0,peter_l.693368,Peter_L,peter_l,1.325416e+09,Sweden,1186,148963,Peter_L,peter_l,1.0
84,1.351681e+09,"United States, Massachusetts",22,21,migwell.701440,migwell,migwell,1.349258e+09,"United States, Massachusetts",332,220687,migwell,migwell,1.0
32,1.051351e+09,"United States, Connecticut",1866,1866,boto.1987,Boto,boto,9.596808e+08,"United States, Connecticut",1940,154,boto,boto,1.0
55,1.219054e+09,"United States, Illinois",5368,4254,thorpe429.243272,Thorpe429,thorpe429,1.234177e+09,"United States, Illinois",3894,87126,Thorpe429,thorpe429,1.0
73,1.333188e+09,Spain,27,0,brw.670591,BRW,brw,1.332155e+09,Spain,2538,164670,BRW,brw,1.0
33,1.158660e+09,"United States, Indiana",1,1,shrubber85.98852,shrubber85,shrubber85,1.078571e+09,"United States, Indiana",10454,10924,shrubber85,shrubber85,1.0