In [75]:
import pandas as pd

In [76]:
BASE_PATH = "./Data"

FOLDERS = {
    "ba": "BeerAdvocate",
    "rb": "RateBeer",
    "mbd": "MatchedBeerData"
}

FILES = {
    "ba": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "users": "users.csv",
        "ratings": "ratings.txt.gz",
        "reviews": "reviews.txt.gz"
    },
    "rb": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "users": "users.csv",
        "ratings": "ratings.txt.gz",
        "reviews": "reviews.txt.gz"
    },
    "mbd": {
        "beers": "beers.csv",
        "breweries": "breweries.csv",
        "ratings": "ratings.csv",
        "users": "users.csv",
        "users approx": "users_approx.csv"}
}

In [77]:
def build_path(folderind: str, fileind: str, basepath=BASE_PATH):
    return "/".join([basepath, FOLDERS[folderind], FILES[folderind][fileind]])

def sample(df, n=10, keepna=True):
    shuffled = df.sample(frac=1) # shuffles rows
    return (shuffled.dropna() if not keepna else shuffled).head(n)

# Beer Advocate

### BeerAdvocate: Beers

In [78]:
beeradvoc_beers = pd.read_csv(build_path("ba", "beers"), nrows=100)
beeradvoc_beers.columns

Index(['beer_id', 'beer_name', 'brewery_id', 'brewery_name', 'style',
       'nbr_ratings', 'nbr_reviews', 'avg', 'ba_score', 'bros_score', 'abv',
       'avg_computed', 'zscore', 'nbr_matched_valid_ratings',
       'avg_matched_valid_ratings'],
      dtype='object')

In [79]:
sample(beeradvoc_beers)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
49,16372,Crown & Glory,3415,Whitewater Brewing Co,English Brown Ale,4,4,3.63,NaN,NaN,NaN,3.6275,NaN,0,NaN
64,183236,Citra,40309,Ards Brewing Company,American Pale Ale (APA),1,0,3.32,NaN,NaN,5.00,3.3200,NaN,0,NaN
31,178680,Sheelin Red,32848,The Sheelin Brewery,Irish Red Ale,0,0,NaN,NaN,NaN,4.50,NaN,NaN,0,NaN
70,178832,Dry Stout,41205,Barrahooley Brewery,Irish Dry Stout,0,0,NaN,NaN,NaN,4.80,NaN,NaN,0,NaN
48,57236,Copperhead Ale,3415,Whitewater Brewing Co,English Pale Ale,5,4,3.52,NaN,NaN,3.70,3.5240,NaN,0,NaN
58,21158,Sanity Claus,3415,Whitewater Brewing Co,English Pale Ale,3,2,3.71,NaN,NaN,4.10,3.7000,NaN,0,NaN
62,169948,Bally Black Stout,40309,Ards Brewing Company,Irish Dry Stout,0,0,NaN,NaN,NaN,4.60,NaN,NaN,0,NaN
8,166074,Toroz Svetloye,39914,Bear Beer,American Pale Lager,0,0,NaN,NaN,NaN,4.50,NaN,NaN,0,NaN
91,264580,Push & Pull All The Hops,40307,Boundary Brewing Cooperative,American IPA,1,1,4.15,NaN,NaN,5.50,4.1500,NaN,0,NaN
77,219505,Big. Ass. Stout.,40307,Boundary Brewing Cooperative,American Double / Imperial Stout,0,0,NaN,NaN,NaN,9.26,NaN,NaN,0,NaN

### BeerAdvocate: Breweries

In [80]:
beeradvoc_breweries = pd.read_csv(build_path("ba", "breweries"), nrows=100)
beeradvoc_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers'], dtype='object')

In [81]:
sample(beeradvoc_breweries)

,id,location,name,nbr_beers
18,45082,Northern Ireland,Bullhouse Brewing Company,6
96,16502,Scotland,Glenkindie Arms Hotel / Old Foreigner Brewery,0
33,40308,Northern Ireland,Red Hand Brewing Co.,1
6,16052,Kyrgyzstan,Steinbrau Pub,4
3,39915,Kyrgyzstan,Blonder Pub,4
84,13900,Wales,Evan Evans Brewery,4
4,39916,Kyrgyzstan,Kellers Bier,2
90,31842,Wales,Gwaun Valley Brewery,5
38,33355,Wales,The Hope & Anchor / Denbigh Brewery,1
56,34601,Wales,Llangollen Brewery,3

### BeerAdvocate: Users

In [82]:
beeradvoc_users = pd.read_csv(build_path("ba", "users"), nrows=100)
beeradvoc_users.columns

Index(['nbr_ratings', 'nbr_reviews', 'user_id', 'user_name', 'joined',
       'location'],
      dtype='object')

In [83]:
sample(beeradvoc_users)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
21,6306,6306,brentk56.6284,brentk56,1.084442e+09,"United States, North Carolina"
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
12,264,95,brewdude1982.691169,brewdude1982,1.345802e+09,"United States, North Carolina"
67,2815,2815,tigg924.215811,tigg924,1.209550e+09,"United States, Massachusetts"
58,169,169,walken.127993,Walken,1.174475e+09,"United States, Massachusetts"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
6,3098,0,latarnik.52897,Latarnik,1.133521e+09,"United States, New Jersey"
5,2326,0,hellpop65.48993,Hellpop65,1.131966e+09,"United States, Kansas"
42,1888,1887,beeradvocate.1,BeerAdvocate,8.407944e+08,"United States, Massachusetts"
51,49,49,jizdepski.309329,jizdepski,1.237288e+09,"United States, Louisiana"

### BeerAdvocate: Ratings

In [106]:
beeradvoc_ratings = pd.read_fwf(build_path("ba", "ratings"))#, encoding_errors="replace")
beeradvoc_ratings.columns

Index(['���Y�ratings.txt �ےG�-������ݔ� A p'�2I�J��Q�JS36��@���0�����������s�d�d���#�P%[Rw�ɬŤ���}��^{�$��f��������,�X�4~
��d<�bY&wIy���4�� N��4U��)�7�[�,��˛��_����~O5�E�苪>fp�����3Y�3����,?������\t^v<L�������7��M��|O)��|��&_��!1��W��Q��bo^Q8�|q0���P�', 'Unnamed: 1'], dtype='object')

### BeerAdvocate: Reviews

# RateBeer

### RateBeer: Beers

In [84]:
ratebeer_beers = pd.read_csv(build_path("rb", "beers"), nrows=100)
ratebeer_beers.columns

Index(['beer_id', 'beer_name', 'brewery_id', 'brewery_name', 'style',
       'nbr_ratings', 'overall_score', 'style_score', 'avg', 'abv',
       'avg_computed', 'zscore', 'nbr_matched_valid_ratings',
       'avg_matched_valid_ratings'],
      dtype='object')

In [85]:
sample(ratebeer_beers)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
99,130301,Clanconnel #4 McGraths Irish Red Ale,12090,Clanconnel,Irish Ale,68,33.0,43.0,2.97,4.3,2.983824,NaN,0,NaN
63,412911,Boundary Push & Pull Black Mass,22818,Boundary,Black IPA,1,48.0,12.0,3.17,5.5,3.300000,NaN,0,NaN
6,234108,Ards Bittles Citra Autumn Ale,13538,Ards Brewing Co.,American Pale Ale,1,NaN,NaN,2.84,5.1,3.400000,NaN,0,NaN
84,493658,Heaney Dry Irish Stout,22818,Boundary,Dry Stout,3,NaN,NaN,3.15,4.3,3.433333,NaN,0,NaN
62,437466,Boundary Push & Pull Almost Nilsson,22818,Boundary,India Pale Ale (IPA),16,58.0,38.0,3.26,5.5,3.337500,NaN,0,NaN
26,447427,Boundary / Neill & Ross Adega,22818,Boundary,Sour/Wild Ale,5,NaN,NaN,3.39,7.0,3.740000,NaN,0,NaN
71,386912,Boundary Push & Pull Inoffensive,22818,Boundary,India Pale Ale (IPA),4,NaN,NaN,3.10,5.5,3.275000,NaN,0,NaN
83,493652,Heaney Blonde,22818,Boundary,Golden Ale/Blond Ale,3,NaN,NaN,2.91,4.7,2.900000,NaN,0,NaN
41,412907,Boundary Chloe Dancer,22818,Boundary,Sour/Wild Ale,0,NaN,NaN,NaN,5.8,NaN,NaN,0,NaN
47,447429,Boundary Detre Silver Lining,22818,Boundary,Sour/Wild Ale,9,NaN,NaN,3.23,5.5,3.355556,NaN,0,NaN

### RateBeer: Breweries

In [86]:
ratebeer_breweries = pd.read_csv(build_path("rb", "breweries"), nrows=100)
ratebeer_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers'], dtype='object')

In [87]:
sample(ratebeer_breweries)

,id,location,name,nbr_beers
10,30926,Northern Ireland,Fifth Quarter,1
73,6880,China,Beijing Shuanghesheng,1
63,21538,China,Bao Xue Beer Company Limited,1
1,13538,Northern Ireland,Ards Brewing Co.,13
42,27604,Singapore,Crossroads Brewing Company Singapore,4
3,22818,Northern Ireland,Boundary,66
64,31919,China,Beersmith Gastropub 鲜啤吧,6
67,10039,China,Beijing Drei Kronen 1308 Brauhaus,4
33,29038,Virgin Islands (British),Cooper Island Brewing Co,1
59,30656,China,Aodimai 澳迪麦,1

### RateBeer: Users

In [88]:
ratebeer_users = pd.read_csv(build_path("rb", "users"), nrows=100)
ratebeer_users.columns

Index(['nbr_ratings', 'user_id', 'user_name', 'joined', 'location'], dtype='object')

In [89]:
sample(ratebeer_users)

,nbr_ratings,user_id,user_name,joined,location
70,559,37155,greenmanalishi,1.147428e+09,England
16,46749,38926,fonefan,1.150970e+09,Denmark
71,2966,138581,jjsint,1.319623e+09,England
2,169,288889,Sibarh,1.384600e+09,Poland
80,2195,281573,androman,1.380535e+09,Netherlands
21,19812,121469,Rasmus40,1.295348e+09,Denmark
58,1962,150807,McNeillR,1.326280e+09,Scotland
61,12935,107993,Scopey,1.276250e+09,England
79,5319,105677,mr_h,1.272881e+09,Scotland
14,6998,26851,radagast83,1.125742e+09,"United States, Virginia"

# MatchedBeerData

### MatchedBeerData: Beers

In [90]:
matchedbeer_beers = pd.read_csv(build_path("mbd", "beers"), nrows=1)
matchedbeer_beers.columns

Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'ba.7', 'ba.8',
       'ba.9', 'ba.10', 'ba.11', 'ba.12', 'ba.13', 'ba.14', 'ba.15', 'rb',
       'rb.1', 'rb.2', 'rb.3', 'rb.4', 'rb.5', 'rb.6', 'rb.7', 'rb.8', 'rb.9',
       'rb.10', 'rb.11', 'rb.12', 'rb.13', 'rb.14', 'scores', 'scores.1'],
      dtype='object')

In [102]:
matchedbeer_beers = pd.read_csv(build_path("mbd", "beers"), nrows=100, skiprows=1)
matchedbeer_beers.columns

Index(['abv', 'avg', 'avg_computed', 'avg_matched_valid_ratings', 'ba_score',
       'beer_id', 'beer_name', 'beer_wout_brewery_name', 'brewery_id',
       'brewery_name', 'bros_score', 'nbr_matched_valid_ratings',
       'nbr_ratings', 'nbr_reviews', 'style', 'zscore', 'abv.1', 'avg.1',
       'avg_computed.1', 'avg_matched_valid_ratings.1', 'beer_id.1',
       'beer_name.1', 'beer_wout_brewery_name.1', 'brewery_id.1',
       'brewery_name.1', 'nbr_matched_valid_ratings.1', 'nbr_ratings.1',
       'overall_score', 'style.1', 'style_score', 'zscore.1', 'diff', 'sim'],
      dtype='object')

In [103]:
sample(matchedbeer_beers)

,abv,avg,avg_computed,avg_matched_valid_ratings,ba_score,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,...,brewery_id.1,brewery_name.1,nbr_matched_valid_ratings.1,nbr_ratings.1,overall_score,style.1,style_score,zscore.1,diff,sim
29,4.6,NaN,NaN,NaN,NaN,179126,Irish Red Ale,Irish Ale Red,41245,Knockout Brewing,...,22134,Knockout Brewing,4,4,NaN,Irish Ale,NaN,-0.328129,1.000000,1.000000
59,4.8,3.75,3.7500,NaN,NaN,108401,St. Ceceliac,Ceceliac St,20776,The Celt Experience,...,14338,Celt Experience,10,10,97.0,Wheat Ale,100.0,1.050124,0.816497,0.816497
54,10.5,3.85,3.7910,3.975714,84.0,93771,Ogham - Ash,Ogham Ash,20776,The Celt Experience,...,14338,Celt Experience,111,111,99.0,Imperial Porter,92.0,0.812775,0.552869,1.000000
73,4.2,NaN,NaN,NaN,NaN,158169,Alright Treacle?,Alright Treacle,31060,The Waen Brewery,...,10455,Waen,2,2,NaN,Stout,NaN,-0.136764,1.000000,1.000000
5,4.2,3.95,3.9500,NaN,NaN,178689,Boom,Boom,40360,Walled City Brewing Company,...,24866,Walled City,2,2,NaN,American Pale Ale,NaN,0.247604,1.000000,1.000000
57,6.3,2.76,3.3825,2.530000,NaN,108752,Otley Barbarians Beverage,Otley Beverage Barbarians,20776,The Celt Experience,...,14338,Celt Experience,51,51,86.0,Black IPA,49.0,0.181869,1.000000,1.000000
69,4.0,3.50,3.5000,NaN,NaN,142199,Sundown,Sundown,27807,The Untapped Brewing Co.,...,11652,Untapped,14,14,37.0,Golden Ale/Blond Ale,50.0,-0.636493,1.000000,1.000000
17,8.5,NaN,NaN,NaN,NaN,225872,Double IPA,IPA Double,36583,Farmageddon Brewing Co-op,...,19507,Farmageddon Brewing Co-Op,16,16,90.0,Imperial IPA,52.0,0.531347,0.735735,1.000000
22,5.7,4.04,3.7250,4.250000,NaN,143570,S.M.A.S.H. Mosaic,Mosaic SMASH,36583,Farmageddon Brewing Co-op,...,19507,Farmageddon Brewing Co-Op,1,1,NaN,India Pale Ale (IPA),NaN,-0.413665,0.413042,1.000000
64,5.0,3.42,3.4200,3.420000,NaN,99123,Cwrw Tudno,Cwrw Tudno,8412,The Plassey Brewery,...,2616,Plassey,8,8,NaN,Premium Bitter/ESB,NaN,-0.532345,0.591911,0.943479

### MatchedBeerData: Breweries

In [93]:
matchedbeer_breweries = pd.read_csv(build_path("mbd", "breweries"), nrows=100, skiprows=1)
matchedbeer_breweries.columns

Index(['id', 'location', 'name', 'nbr_beers', 'id.1', 'location.1', 'name.1',
       'nbr_beers.1', 'diff', 'sim'],
      dtype='object')

In [94]:
sample(matchedbeer_breweries)

,id,location,name,nbr_beers,id.1,location.1,name.1,nbr_beers.1,diff,sim
92,25931,Scotland,Ayr Brewing Company,7,11179,Scotland,Ayr Brewing Company,55,0.658297,1.000000
0,10093,Northern Ireland,Strangford Lough Brewing Company Ltd,5,4959,Northern Ireland,Strangford Lough,5,0.431275,0.889062
24,13093,Wales,Vale of Glamorgan Brewery,6,6283,Wales,Vale Of Glamorgan,32,0.379785,0.977058
40,46082,Wales,Sandstone Brewery,1,10189,Wales,Sandstone,17,0.662249,0.955910
89,10750,Scotland,An Teallach Ale Co.,6,4387,Scotland,An Teallach,15,0.488690,0.875165
17,20776,Wales,The Celt Experience,35,14338,Wales,Celt Experience,116,0.455129,0.941499
5,45082,Northern Ireland,Bullhouse Brewing Company,6,27006,Northern Ireland,Bullhouse Brewing Company,6,0.658297,1.000000
23,34455,Wales,Tudor Brewery,5,10247,Wales,Tudor,8,0.662249,0.955910
30,29831,Wales,Kingstone Brewery,8,6771,Wales,Kingstone,24,0.662249,0.955910
25,12849,Wales,Warcop,4,3976,Wales,Warcop,33,1.000000,1.000000

### MatchedBeerData: Ratings

In [95]:
matchedbeer_ratings = pd.read_csv(build_path("mbd", "ratings"), nrows=100, skiprows=1)
matchedbeer_ratings.columns

Index(['abv', 'appearance', 'aroma', 'beer_id', 'beer_name', 'brewery_id',
       'brewery_name', 'date', 'overall', 'palate', 'rating', 'review',
       'style', 'taste', 'text', 'user_id', 'user_name', 'abv.1',
       'appearance.1', 'aroma.1', 'beer_id.1', 'beer_name.1', 'brewery_id.1',
       'brewery_name.1', 'date.1', 'overall.1', 'palate.1', 'rating.1',
       'style.1', 'taste.1', 'text.1', 'user_id.1', 'user_name.1'],
      dtype='object')

In [96]:
sample(matchedbeer_ratings)

,abv,appearance,aroma,beer_id,beer_name,brewery_id,brewery_name,date,overall,palate,...,brewery_name.1,date.1,overall.1,palate.1,rating.1,style.1,taste.1,text.1,user_id.1,user_name.1
97,4.7,4.00,4.00,23729,White Lady,3403,"Cairngorm Brewery Company, The",1313488800,4.50,4.50,...,Cairngorm,1430647200,14.0,3.0,3.2,Wheat Ale,6.0,Cask.Interesting season which is quite decent ...,60140,zimbo
98,4.4,4.00,4.50,70031,Hurricane Jack,3411,Fyne Ales Ltd,1325242800,4.00,3.50,...,Fyne Ales,1430647200,14.0,3.0,3.2,Golden Ale/Blond Ale,6.0,"Bottle fresh from, the brewery.Crisp golden co...",60140,zimbo
32,5.0,NaN,NaN,4701,Golden Champion,1306,"Badger Brewery, Hall and Woodhouse",1388574000,NaN,NaN,...,Badger &#40;Hall & Woodhouse&#41;,1400061600,11.0,3.0,2.7,Golden Ale/Blond Ale,4.0,500ml bottle from Tesco. Golden colour with a ...,295172,Mr_Pink_152
74,2.4,2.25,1.75,61008,Obolon Beer Mix Raspberry,601,Obolon Brewery,1432202400,2.50,2.25,...,Obolon,1417258800,8.0,2.0,1.9,Radler/Shandy,4.0,Can. Very pale yellow with weak bubbly head. T...,266560,vinivini
43,4.5,NaN,NaN,109653,What Would Jephers Do?,31023,Hand Drawn Monkey Brewing Co.,1388746800,NaN,NaN,...,Hand Drawn Monkey,1420196400,14.0,4.0,3.6,Specialty Grain,7.0,"Part of my 2013 backlog, and tried at the Pete...",295172,Mr_Pink_152
61,7.6,3.75,4.00,99,Spaten Optimator,142,Spaten-Franziskaner-Bräu,1429524000,3.75,4.25,...,Spaten-Franziskaner-Bräu &#40;InBev&#41;,1408442400,15.0,5.0,3.6,Doppelbock,6.0,A Doppelbock worth of drinking. Thin head to b...,266560,vinivini
47,12.0,NaN,NaN,3833,AleSmith Speedway Stout,396,AleSmith Brewing Company,1403258400,NaN,NaN,...,AleSmith Brewing Company,1304330400,17.0,4.0,4.1,Imperial Stout,8.0,Bottle shared at Mikkeller Bar. A good beer b...,111648,kermis
11,8.2,4.25,4.50,115317,Dinner,20681,Maine Beer Company,1458298800,4.25,4.25,...,Maine Beer Company,1444298400,18.0,4.0,4.4,Imperial IPA,9.0,Bottle shared in London - many thanks to Paul....,74136,Leighton
30,3.8,NaN,NaN,109891,Cathedral Heights Just Married,33753,Cathedral Heights Brewery,1389006000,NaN,NaN,...,Cathedral Heights,1400925600,13.0,3.0,3.1,Golden Ale/Blond Ale,6.0,Tried at the CAMRA Lincoln beer festival 2014....,295172,Mr_Pink_152
19,4.3,NaN,NaN,109890,Cathedral Heights BBH Bitter,33753,Cathedral Heights Brewery,1389006000,NaN,NaN,...,Cathedral Heights,1405764000,12.0,4.0,3.2,Bitter,6.0,Pint at the bracebridge Heath village festival...,295172,Mr_Pink_152

### MatchedBeerData: Users

In [97]:
matchedbeer_users = pd.read_csv(build_path("mbd", "users"), nrows=100, skiprows=1)
matchedbeer_users.columns

Index(['joined', 'location', 'nbr_ratings', 'nbr_reviews', 'user_id',
       'user_name', 'user_name_lower', 'joined.1', 'location.1',
       'nbr_ratings.1', 'user_id.1', 'user_name.1', 'user_name_lower.1'],
      dtype='object')

In [98]:
sample(matchedbeer_users)

,joined,location,nbr_ratings,nbr_reviews,user_id,user_name,user_name_lower,joined.1,location.1,nbr_ratings.1,user_id.1,user_name.1,user_name_lower.1
19,1.347098e+09,Sweden,54,0,peter_l.693368,Peter_L,peter_l,1.325416e+09,Sweden,1186,148963,Peter_L,peter_l
72,1.110280e+09,Australia,97,97,hefevice.15992,hefevice,hefevice,1.110280e+09,Australia,71,20545,hefevice,hefevice
13,1.070017e+09,Switzerland,16,16,bov.3818,Bov,bov,9.608904e+08,Switzerland,11810,181,Bov,bov
23,1.154686e+09,England,3050,3050,blackhaddock.90923,BlackHaddock,blackhaddock,1.258715e+09,England,7530,97853,BlackHaddock,blackhaddock
34,1.024481e+09,"United States, Ohio",2067,2067,dogbrick.487,Dogbrick,dogbrick,1.009624e+09,"United States, Ohio",11157,2714,Dogbrick,dogbrick
75,1.149674e+09,"United States, Washington",1,1,skoisirius.82645,skoisirius,skoisirius,1.141988e+09,"United States, Washington",1587,34525,skoisirius,skoisirius
48,1.076152e+09,"United States, Maryland",3471,3259,drabmuh.4791,drabmuh,drabmuh,1.254823e+09,"United States, Maryland",150,96230,drabmuh,drabmuh
11,1.354446e+09,Netherlands,144,3,kermis.705828,kermis,kermis,1.281780e+09,Netherlands,13082,111648,kermis,kermis
89,1.182766e+09,Canada,409,409,cyrenaica.144865,cyrenaica,cyrenaica,1.183802e+09,Canada,1079,57080,cyrenaica,cyrenaica
76,1.195211e+09,Canada,309,309,rodenbach99.173028,rodenbach99,rodenbach99,1.191578e+09,Canada,4263,61913,rodenbach99,rodenbach99

### MatchedBeerData: Users Approx

In [99]:
matchedbeer_usersapprox = pd.read_csv(build_path("mbd", "users approx"))#, nrows=100, skiprows=1)
matchedbeer_usersapprox.columns

Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'rb', 'rb.1',
       'rb.2', 'rb.3', 'rb.4', 'rb.5', 'scores'],
      dtype='object')

In [100]:
matchedbeer_usersapprox = pd.read_csv(build_path("mbd", "users approx"), nrows=100, skiprows=1)
matchedbeer_usersapprox.columns

Index(['joined', 'location', 'nbr_ratings', 'nbr_reviews', 'user_id',
       'user_name', 'user_name_lower', 'joined.1', 'location.1',
       'nbr_ratings.1', 'user_id.1', 'user_name.1', 'user_name_lower.1',
       'sim'],
      dtype='object')

In [101]:
sample(matchedbeer_usersapprox)

,joined,location,nbr_ratings,nbr_reviews,user_id,user_name,user_name_lower,joined.1,location.1,nbr_ratings.1,user_id.1,user_name.1,user_name_lower.1,sim
23,1.126692e+09,Mexico,147,147,nekronos.39574,nekronos,nekronos,1.097921e+09,Mexico,4044,16304,Nekronos,nekronos,1.000000
76,1.382350e+09,Netherlands,420,3,svd.760180,SVD,svd,1.359025e+09,Netherlands,2054,240051,SVD,svd,1.000000
55,1.219054e+09,"United States, Illinois",5368,4254,thorpe429.243272,Thorpe429,thorpe429,1.234177e+09,"United States, Illinois",3894,87126,Thorpe429,thorpe429,1.000000
28,1.119089e+09,Scotland,4,4,garethyoung1.24979,GarethYoung1,garethyoung1,1.105960e+09,Scotland,1047,19063,GarethYoung,garethyoung,0.881588
98,1.182766e+09,Canada,409,409,cyrenaica.144865,cyrenaica,cyrenaica,1.183802e+09,Canada,1079,57080,cyrenaica,cyrenaica,1.000000
58,1.096279e+09,"United States, Georgia",4738,4736,chaingangguy.8942,ChainGangGuy,chaingangguy,1.136718e+09,"United States, Georgia",4317,32031,ChainGangGuy,chaingangguy,1.000000
20,1.347098e+09,Sweden,54,0,peter_l.693368,Peter_L,peter_l,1.325416e+09,Sweden,1186,148963,Peter_L,peter_l,1.000000
60,1.001930e+09,"United States, California",1443,1442,beerguy101.137,beerguy101,beerguy101,1.032084e+09,"United States, California",4626,5566,beerguy101,beerguy101,1.000000
45,1.096538e+09,"United States, Pennsylvania",1741,1741,hopdog.9038,hopdog,hopdog,1.083838e+09,"United States, Pennsylvania",10917,12252,hopdog,hopdog,1.000000
62,1.218449e+09,"United States, Louisiana",1949,1948,ronaldtheriot.241704,RonaldTheriot,ronaldtheriot,1.245060e+09,"United States, Louisiana",1863,92202,ronaldtheriot,ronaldtheriot,1.000000