- beers per user : 373 seconds
- std : 66 seconds
- explorer score per user : 0.3 seconds per user
- adventurer score per user : 0.09 s per user

In [1]:
import pandas as pd
import time

import categories as cat

In [2]:
ratings_parquets_path = 'RefinedData/BeerAdvocate//ratings.parquet'
beers_parquet_path = "RefinedData/BeerAdvocate/beers.parquet/"
users_parquet_path = "RefinedData/BeerAdvocate/users.parquet/"

In [3]:
t = time.time()
categorization = cat.Categorization(ratings_parquets_path, beers_parquet_path, users_parquet_path)
print("run time :",time.time()-t)

ratings loaded
beers loaded
users loaded
ratings dated ( 334.2749857902527 )
beers per user ( 345.99475717544556 )
std ( 65.23974585533142 )
run time : 748.02343583107

In [4]:
categorization.get_ratings_head()

,date,uid,bid,rating,dated_rating,rank
111278,2003-03-17 11:00:00,mab.734,3,4.42,4.106667,3
99258,2002-11-20 11:00:00,morris729.996,3,3.88,3.950000,2
33704,2002-04-17 10:00:00,jason.3,3,4.02,4.020000,1
119242,2003-06-01 10:00:00,assurbanipaul.1754,4,3.45,3.652000,5
24941,2003-10-23 10:00:00,nerofiddled.526,4,4.10,3.726667,6
57874,2003-03-31 10:00:00,greencard.1619,4,2.67,3.310000,3
99261,2002-11-20 11:00:00,morris729.996,4,3.68,3.630000,2
33705,2002-04-05 10:00:00,jason.3,4,3.58,3.580000,1
75265,2004-06-22 10:00:00,bditty187.531,4,3.21,3.705000,8
55204,2005-03-09 11:00:00,allengarvin.7332,4,3.55,3.687778,9
67799,2003-04-25 10:00:00,atrumanimus.1074,4,4.88,3.702500,4
7457,2003-10-31 11:00:00,feloniousmonk.1022,4,4.07,3.775714,7
76005,2005-03-21 11:00:00,shapudding.4354,4,3.20,3.639000,10
35765,2011-11-17 11:00:00,merkurking16.637919,5,4.00,3.363220,382
36050,2011-08-16 10:00:00,smakawhat.204323,5,2.79,3.356676,364
371,2014-06-14 10:00:00,hohnbaum.788384,5,2.75,3.420771,1090
53508,2013-02-06 11:00:00,mnash.700469,5,4.00,3.417341,737
41606,2005-04-11 10:00:00,arizcards.2240,5,3.92,3.425181,83
36042,2011-08-29 10:00:00,merkur.547728,5,3.18,3.352240,366
37127,2010-07-03 10:00:00,jeffjeff1.337702,5,3.38,3.365082,305
55066,2012-09-04 10:00:00,jgarvis.677033,5,3.50,3.410078,640
24813,2013-02-23 11:00:00,deanchs1980.717896,5,4.50,3.422772,754
53919,2013-01-06 11:00:00,stlouisram.332532,5,4.25,3.420604,712
35911,2011-11-06 11:00:00,arithmeticus.464859,5,2.70,3.354772,373
8505,2016-09-29 10:00:00,beerformuscle.109040,5,3.85,3.439392,1480
21502,2012-10-29 11:00:00,vcoggins.691601,5,3.25,3.412056,676
33519,2012-04-02 10:00:00,hophead84.109437,5,3.30,3.389535,516
33766,2012-03-24 11:00:00,creez.663790,5,3.75,3.387188,505
31560,2012-07-20 10:00:00,jda007.63222,5,4.00,3.407660,611
35600,2011-11-26 11:00:00,thisladyluck.379254,5,4.00,3.379045,398

In [5]:
categorization.get_users_head()

,n_ratings,n_reviews,uid,username,joined,location,country
__null_dask_index__,,,,,,,
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland
5,2326,0,hellpop65.48993,Hellpop65,2005-11-14 11:00:00,"United States, Kansas",United States
6,3098,0,latarnik.52897,Latarnik,2005-12-02 11:00:00,"United States, New Jersey",United States
7,1866,23,rochefortchris.697017,RochefortChris,2012-10-02 10:00:00,"United States, North Carolina",United States
8,1131,188,okcnittany.144868,OKCNittany,2007-06-25 10:00:00,"United States, Oklahoma",United States
9,9987,16,jaydoc.265507,jaydoc,2008-11-12 11:00:00,"United States, Kansas",United States
10,4078,127,ejimhof.5743,ejimhof,2004-04-12 10:00:00,"United States, Pennsylvania",United States
11,2329,5,graduatedcashew.730089,GraduatedCashew,2013-04-25 10:00:00,"United States, California",United States
12,264,95,brewdude1982.691169,brewdude1982,2012-08-24 10:00:00,"United States, North Carolina",United States
13,2314,1990,agentmunky.409755,AgentMunky,2009-12-29 11:00:00,"United States, New York",United States
14,154,0,swungomonkey.698859,swungomonkey,2012-10-13 10:00:00,None,None
15,732,14,byofb.537281,BYOFB,2010-12-11 11:00:00,"United States, Wisconsin",United States
16,16,1,cadensdad.704691,CadensDad,2012-11-24 11:00:00,"United States, Pennsylvania",United States
17,585,389,ferrari29.320392,ferrari29,2009-04-15 10:00:00,"United States, Illinois",United States
18,10,0,samurai221.575106,samurai221,2011-03-03 11:00:00,"United States, Virginia",United States
19,1315,1315,othershoe2.233642,OtherShoe2,2008-07-09 10:00:00,"United States, Massachusetts",United States
20,231,0,friedgold2112.672227,FriedGold2112,2012-04-12 10:00:00,None,None
21,6306,6306,brentk56.6284,brentk56,2004-05-13 10:00:00,"United States, North Carolina",United States
22,6260,4734,emerge077.17949,emerge077,2005-04-16 10:00:00,"United States, Illinois",United States
23,1851,10,buckyp.435592,buckyp,2010-03-07 11:00:00,"United States, South Carolina",United States
24,3758,3562,garthdanielson.522584,GarthDanielson,2010-11-06 11:00:00,"United States, Virginia",United States
25,187,1,poopsmitherson.468246,poopsmitherson,2010-06-10 10:00:00,"United States, Georgia",United States
26,1489,355,animal69.160100,animal69,2007-09-21 10:00:00,"United States, Louisiana",United States
27,5347,5199,chinchill.199175,chinchill,2008-02-29 11:00:00,"United States, South Carolina",United States
28,2439,1372,barnzy78.224763,barnzy78,2008-06-02 10:00:00,"United States, Illinois",United States
29,1,1,brettmc.615627,BrettMc,2011-08-12 10:00:00,"United States, Georgia",United States

In [6]:
categorization.get_beers_head()

    bid  n_ratings  avg_rating  ba_score  std_rating
0     3          3    4.106667       NaN    0.228813
1     4         10    3.639000      84.0    0.574708
2     5       1538    3.441203      78.0    0.554967
3     6       2660    3.657617      82.0    0.485640
4     7       2977    3.265694      74.0    0.631811
5     8        132    3.290682      77.0    0.581732
6     9        215    3.172698      74.0    0.557561
7    10       1608    3.807351      86.0    0.426868
8    11         80    3.305125      78.0    0.474257
9    12         83    3.744217      85.0    0.478819
10   13         83    3.125783      76.0    0.538517
11   14        243    3.744938      84.0    0.493320
12   15        152    3.665658      83.0    0.420286
13   16         12    3.831667      84.0    0.354726
14   17       1941    3.314044      75.0    0.546628
15   18         10    3.432000      83.0    0.380100
16   19        638    4.039373      90.0    0.468764
17   20         46    4.001956      87.0    0.401457
18   21         59    4.250000      90.0    0.398357
19   23        272    3.680919      84.0    0.436137
20   24        145    3.781655      85.0    0.403751
21   26        155    3.463161      80.0    0.395156
22   27         91    3.339011      79.0    0.443361
23   28          1    3.450000       NaN    0.000000
24   29        146    2.939110      71.0    0.425650
25   30       4582    4.233433      94.0    0.453167
26   31       2241    3.894257      87.0    0.434255
27   32        430    4.032000      89.0    0.394362
28   33       4233    4.199608      93.0    0.437685
29   34       9123    4.318108      96.0    0.482291

In [7]:
user_ids = categorization.get_userIds_list()
print(len(user_ids))
user_ids[:3]

153704

['nmann08.184925', 'stjamesgate.163714', 'mdagnew.19527']

In [13]:
categorization.categorize_all_users()
len(categorization.users_ddf[categorization.users_ddf["is_exp"] == 1].index)

/home/juliette/Documents/EPFL/Ada/Ada_project/3/ada-2022-project-analyteam/categories.py:153: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  quantile = self.users_ddf.quantile(0.9)

15371

In [10]:
REFINED_DATA = "RefinedData"
import ingestion as ing

categorization.users_ddf.to_parquet(ing.build_path(folderind="ba", filename="users", ext=".parquet", basepath=ing.REFINED_PATH))

/home/juliette/Documents/EPFL/Ada/Ada_project/3/ada-2022-project-analyteam/categories.py:153: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  quantile = self.users_ddf.quantile(0.9)

ValueError: Can't infer object conversion type: 0    2008-01-07 11:00:00
1    2007-10-08 10:00:00
2    2005-05-18 10:00:00
3    2004-11-25 11:00:00
4    2003-11-20 11:00:00
5    2005-11-14 11:00:00
6    2005-12-02 11:00:00
7    2012-10-02 10:00:00
8    2007-06-25 10:00:00
9    2008-11-12 11:00:00
Name: joined, dtype: object

In [ ]:
categorization.

In [ ]:
from copy import copy
import dask.dataframe as ddf
T = 3

ratings_ddf = copy(categorization.ratings_ddf)
beers_per_users = copy(categorization.beers_per_users)
users_ddf = copy(categorization.users_ddf)

adventurer_score_fast_table=categorization.ratings_ddf.loc[categorization.ratings_ddf["dated_rating"] < T].copy().groupby('uid').count()[['rank']]
adventurer_score_fast_table=adventurer_score_fast_table.reset_index()

users_ddf=ddf.merge(
                users_ddf,
                adventurer_score_fast_table,
                how="left", on='uid')
users_ddf=users_ddf.rename(columns={'rank': 'adv_score'}).fillna(0)
users_ddf['adv_score'] = users_ddf['adv_score'].astype('Int64')
users_ddf

In [ ]:
T = 3
n = 240
import numpy as np

def jupyter_get_adventurer_score(user_ids, ratings_ddf, beers_per_users):
    print("ADVENTURER SCORE FOR ", user_id)
    rating_of_user_dated = ratings_ddf.loc[ratings_ddf["uid"] == user_id][["dated_rating"]]
    rating_of_user_dated = ratings_ddf.groupby("uid").apply(list)
    
    rating_of_user_dated = rating_of_user_dated.loc[rating_of_user_dated["dated_rating"] < T]
    return len(rating_of_user_dated.index)

In [ ]:
T = 3
n = 240
import numpy as np

def jupyter_get_adventurer_score(user_id, ratings_ddf, beers_per_users):
    #print("ADVENTURER SCORE FOR ", user_id)
    #t = time.time()
    rating_of_user_dated = ratings_ddf.loc[ratings_ddf["dated_rating"] < T]
    #print("line 1", time.time()-t)

    #t = time.time()
    rating_of_user_dated = rating_of_user_dated.loc[rating_of_user_dated["uid"] == user_id][["dated_rating"]]
    #print("line 2", time.time()-t)
    return len(rating_of_user_dated.index)

In [ ]:
t = time.time()
n = 100
for user_id in user_ids[:n]:
    jupyter_get_adventurer_score(user_id, categorization.ratings_ddf, categorization.beers_per_users)
print((time.time()-t) / n)

In [ ]:
t = time.time()
jupyter_get_adventurer_score("jarodrishe.823911", categorization.ratings_ddf, categorization.beers_per_users)
print(time.time()-t)

In [ ]:
categorization.beers_ddf.loc[categorization.beers_ddf["bid"] == 17538]

In [ ]:
from copy import copy
#(ba_score+mean(avg_ratings)-mean(ba_score))/std(ba_score)4.054117*std(avf_ratings)0.385004

categorization.beers_ddf.loc[~np.isnan(categorization.beers_ddf["ba_score"])]["ba_score"]

beers_ddf = copy(categorization.beers_ddf)
beers_ddf["ba_score"] /= 20
beers_ddf

In [ ]:
def jupyter_get_explorer_score_for_user(ratings_ddf, user_id, beers_per_users):
    first_ratings = ratings_ddf.loc[ratings_ddf["rank"] <= 10][["uid"]]
    first_ratings = first_ratings.loc[first_ratings["uid"] == user_id]
    return len(first_ratings.index)

In [ ]:
from copy import copy

ratings_ddf = copy(categorization.ratings_ddf)
beers_per_users = copy(categorization.beers_per_users)

t = time.time()
n = 10
for user_id in user_ids[:n]:
    print("user id :",user_id,"score:",jupyter_get_explorer_score_for_user(ratings_ddf, user_id, beers_per_users))
print("Total time average: ", (time.time() - t)/n)

jupyter_get_explorer_score_for_user(ratings_ddf, "zymurgy4all.11427", beers_per_users)

In [ ]:
def jupyter_get_explorer_score(ratings_ddf, user_ids3, beers_per_users):
    grouped_ratings_dff = ratings_ddf.groupby("uid").apply(list)
    
    
    first_ratings = ratings_ddf.loc[ratings_ddf["rank"] <= 10][["uid"]]
    first_ratings = first_ratings.loc[first_ratings["uid"] == user_id]
    return len(first_ratings.index)

In [ ]:
from copy import copy
import dask.dataframe as ddf

ratings_ddf = copy(categorization.ratings_ddf)
beers_per_users = copy(categorization.beers_per_users)
users_ddf = copy(categorization.users_ddf)

grouped_ratings_ddf = ratings_ddf[["uid","rank"]]
grouped_ratings_ddf = grouped_ratings_ddf.loc[grouped_ratings_ddf["rank"]<=10].groupby("uid").count()

grouped_ratings_table = grouped_ratings_ddf.reset_index()

users_ddf = ddf.merge(
                users_ddf,
                grouped_ratings_table,
                how="left", on='uid')

users_ddf = users_ddf.rename(columns={'rank': 'xpl_score'}).fillna(0)
users_ddf['xpl_score'] = users_ddf['xpl_score'].astype('Int64')

print(users_ddf["xpl_score"])

users_ddf

In [ ]:
def jupyter_get_expertlike_score(user_id, beers_per_users, beers_ddf, ratings_ddf):
    beer_ids = beers_per_users[user_id]
    ref = beers_ddf.loc[beers_ddf["bid"].isin(beer_ids)][["bid","ba_score"]]
    r_user_beers = ratings_ddf.loc[ratings_ddf["bid"].isin(beer_ids)]
    std = beers_ddf["std_rating"]
    print(std)

    return

In [ ]:
from copy import copy

user_id = user_ids[0]

ratings_ddf = copy(categorization.ratings_ddf)
beers_ddf = copy(categorization.beers_ddf)
beers_per_users = copy(categorization.beers_per_users)
users_ddf = copy(categorization.users_ddf)


jupyter_get_expertlike_score(user_id, beers_per_users, beers_ddf, ratings_ddf)

In [ ]:
conformist_table = ddf.merge(ratings_ddf, beers_ddf, how="inner", left_on="bid", right_on="bid")
conformist_table=conformist_table[conformist_table['std_rating']!=0]

conformist_table['cfm_per_rating'] = ((conformist_table['rating']-conformist_table['avg_rating'])/conformist_table['std_rating'])**2
conformist_table=conformist_table.groupby('uid').mean()['cfm_per_rating'].reset_index(
    
users_ddf=ddf.merge(users_ddf, conformist_table, how="left", on='uid')
user_ddf=users_ddf.rename(columns={'cfm_per_rating': 'cfm_score'})

In [ ]:
df =pd.DataFrame(data={'id':[111,111,111,333,444],'user_id':[11,22,33,44,55],'date': [10,1, 2,9,8], 'rating': [0,1, 1,5,6]}) 
df

In [ ]:
df.loc[df["id"] == 111][["user_id","date"]].sort_values("date")

In [ ]:
df.loc[df["id"] == 111].loc[df["rating"] == 1]

In [ ]:
type(df["col1"][0])