In [7]:
import pandas as pd
import time

import categories as cat

In [8]:
ratings_parquets_path = 'RefinedData/BeerAdvocate//ratings.parquet'
beers_parquet_path = "RefinedData/BeerAdvocate/beers.parquet/"
users_parquet_path = "RefinedData/BeerAdvocate/users.parquet/"

In [9]:
categorization = cat.Categorization(ratings_parquets_path, beers_parquet_path, users_parquet_path)

RATINGS DDF
---------------------------------------------
BEERS DDF
---------------------------------------------
USERS DDF
---------------------------------------------

In [12]:
users = categorization.get_userIds_list()[:10]
print("nb users : ",len(categorization.get_userIds_list()))
users

nb users :  153704

['nmann08.184925',
 'stjamesgate.163714',
 'mdagnew.19527',
 'helloloser12345.10867',
 'cypressbob.3708',
 'hellpop65.48993',
 'latarnik.52897',
 'rochefortchris.697017',
 'okcnittany.144868',
 'jaydoc.265507']

In [13]:
for user in users:
    t = time.time()
    print("summation :",categorization.get_explorer_score(user))
    print("Total time for user",user,":",time.time()-t)
    print("---------------------------------------------------------")

EXPLORER SCORE FOR USER  nmann08.184925
   Time prep user beers :  39.18034768104553
   Time for all beers id : 72.62546968460083
   total time  93.94778800010681
summation : 2158
Total time for user nmann08.184925 : 206.01849055290222
---------------------------------------------------------
EXPLORER SCORE FOR USER  stjamesgate.163714
   Time prep user beers :  36.332518100738525
   Time for all beers id : 62.14327120780945
   total time  18.411722898483276
summation : 1195
Total time for user stjamesgate.163714 : 116.99441003799438
---------------------------------------------------------
EXPLORER SCORE FOR USER  mdagnew.19527
   Time prep user beers :  33.13981747627258
   Time for all beers id : 45.854689598083496
   total time  1.6689300537109375e-06
summation : 0
Total time for user mdagnew.19527 : 78.9950315952301
---------------------------------------------------------
EXPLORER SCORE FOR USER  helloloser12345.10867
   Time prep user beers :  30.43056559562683
   Time for all beers id : 41.10060477256775
   total time  1.9073486328125e-06
summation : 0
Total time for user helloloser12345.10867 : 71.53159546852112
---------------------------------------------------------
EXPLORER SCORE FOR USER  cypressbob.3708
   Time prep user beers :  27.575275659561157
   Time for all beers id : 42.75471520423889
   total time  1.9073486328125e-06
summation : 0
Total time for user cypressbob.3708 : 70.33041858673096
---------------------------------------------------------
EXPLORER SCORE FOR USER  hellpop65.48993
   Time prep user beers :  27.963266611099243
   Time for all beers id : 51.872642993927
   total time  15.028272867202759
summation : 263
Total time for user hellpop65.48993 : 94.9726550579071
---------------------------------------------------------
EXPLORER SCORE FOR USER  latarnik.52897
   Time prep user beers :  27.87932562828064
   Time for all beers id : 53.206507444381714
   total time  19.89182138442993
summation : 531
Total time for user latarnik.52897 : 101.09910297393799
---------------------------------------------------------
EXPLORER SCORE FOR USER  rochefortchris.697017
   Time prep user beers :  27.89011001586914
   Time for all beers id : 52.95364809036255
   total time  12.532644987106323
summation : 391
Total time for user rochefortchris.697017 : 93.49262285232544
---------------------------------------------------------
EXPLORER SCORE FOR USER  okcnittany.144868
   Time prep user beers :  30.386873722076416
   Time for all beers id : 53.92027306556702
   total time  7.44837212562561
summation : 69
Total time for user okcnittany.144868 : 91.8504548072815
---------------------------------------------------------
EXPLORER SCORE FOR USER  jaydoc.265507
   Time prep user beers :  28.31246304512024
   Time for all beers id : 58.15286469459534
   total time  92.51110768318176
summation : 3036
Total time for user jaydoc.265507 : 179.28444147109985
---------------------------------------------------------

In [22]:
df =pd.DataFrame(data={'id':[111,111,111,333,444],'user_id':[11,22,33,44,55],'date': [10,1, 2,9,8], 'rating': [0,1, 1,5,6]}) 
df

    id  user_id  date  rating
0  111       11    10       0
1  111       22     1       1
2  111       33     2       1
3  333       44     9       5
4  444       55     8       6

In [23]:
df.groupby('id').sum()

     user_id  date  rating
id
111       66    13       2
333       44     9       5
444       55     8       6