- beers per user : 373 seconds
- std : 66 seconds
- explorer score per user : 0.3 seconds per user
- adventurer score per user : 0.09 s per user

In [1]:
import pandas as pd
import time

import categories as cat

In [2]:
ratings_parquets_path = 'RefinedData/BeerAdvocate//ratings.parquet'
beers_parquet_path = "RefinedData/BeerAdvocate/beers.parquet/"
users_parquet_path = "RefinedData/BeerAdvocate/users.parquet/"

In [3]:
t = time.time()
categorization = cat.Categorization(ratings_parquets_path, beers_parquet_path, users_parquet_path)
print("run time :",time.time()-t)

ratings loaded
beers loaded
users loaded
ratings dated ( 274.92370200157166 )
beers per user ( 276.4385333061218 )
std ( 57.67945837974548 )
run time : 611.3002800941467

In [4]:
categorization.compute_all_scores().head()

,n_ratings,n_reviews,uid,username,joined,location,country,cfm_score,exp_score,xpl_score,adv_score,is_cfm,is_exp,is_xpl,is_adv
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States,1.144488,1.033064,2164,240,0,0,1,1
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States,2.161687,1.310320,1194,33,0,0,1,1
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0,0,0,0,0
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0,0,0,0,0
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0,0,0,0,0

In [42]:
categorization.users_ddf.dtypes
categorization.users_ddf['location']=categorization.users_ddf['location'].astype('string')
categorization.users_ddf['country']=categorization.users_ddf['country'].astype('string')

In [44]:
import ingestion as ing

categorization.users_ddf.to_parquet(ing.build_path(folderind="ba", filename="users", ext=".parquet", basepath="RefinedData"))

In [48]:
users_ddf = pd.read_parquet(users_parquet_path)
users_ddf.dtypes

n_ratings             int32
n_reviews             int32
uid                  object
username             object
joined       datetime64[ns]
location             string
country              string
cfm_score           float64
exp_score           float64
xpl_score             Int64
adv_score             Int64
is_cfm                int32
is_exp                int32
is_xpl                int32
is_adv                int32
dtype: object

In [ ]:
categorization.get_users_head()

,n_ratings,n_reviews,uid,username,joined,location,country
__null_dask_index__,,,,,,,
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland
5,2326,0,hellpop65.48993,Hellpop65,2005-11-14 11:00:00,"United States, Kansas",United States
6,3098,0,latarnik.52897,Latarnik,2005-12-02 11:00:00,"United States, New Jersey",United States
7,1866,23,rochefortchris.697017,RochefortChris,2012-10-02 10:00:00,"United States, North Carolina",United States
8,1131,188,okcnittany.144868,OKCNittany,2007-06-25 10:00:00,"United States, Oklahoma",United States
9,9987,16,jaydoc.265507,jaydoc,2008-11-12 11:00:00,"United States, Kansas",United States
10,4078,127,ejimhof.5743,ejimhof,2004-04-12 10:00:00,"United States, Pennsylvania",United States
11,2329,5,graduatedcashew.730089,GraduatedCashew,2013-04-25 10:00:00,"United States, California",United States
12,264,95,brewdude1982.691169,brewdude1982,2012-08-24 10:00:00,"United States, North Carolina",United States
13,2314,1990,agentmunky.409755,AgentMunky,2009-12-29 11:00:00,"United States, New York",United States
14,154,0,swungomonkey.698859,swungomonkey,2012-10-13 10:00:00,None,None
15,732,14,byofb.537281,BYOFB,2010-12-11 11:00:00,"United States, Wisconsin",United States
16,16,1,cadensdad.704691,CadensDad,2012-11-24 11:00:00,"United States, Pennsylvania",United States
17,585,389,ferrari29.320392,ferrari29,2009-04-15 10:00:00,"United States, Illinois",United States
18,10,0,samurai221.575106,samurai221,2011-03-03 11:00:00,"United States, Virginia",United States
19,1315,1315,othershoe2.233642,OtherShoe2,2008-07-09 10:00:00,"United States, Massachusetts",United States
20,231,0,friedgold2112.672227,FriedGold2112,2012-04-12 10:00:00,None,None
21,6306,6306,brentk56.6284,brentk56,2004-05-13 10:00:00,"United States, North Carolina",United States
22,6260,4734,emerge077.17949,emerge077,2005-04-16 10:00:00,"United States, Illinois",United States
23,1851,10,buckyp.435592,buckyp,2010-03-07 11:00:00,"United States, South Carolina",United States
24,3758,3562,garthdanielson.522584,GarthDanielson,2010-11-06 11:00:00,"United States, Virginia",United States
25,187,1,poopsmitherson.468246,poopsmitherson,2010-06-10 10:00:00,"United States, Georgia",United States
26,1489,355,animal69.160100,animal69,2007-09-21 10:00:00,"United States, Louisiana",United States
27,5347,5199,chinchill.199175,chinchill,2008-02-29 11:00:00,"United States, South Carolina",United States
28,2439,1372,barnzy78.224763,barnzy78,2008-06-02 10:00:00,"United States, Illinois",United States
29,1,1,brettmc.615627,BrettMc,2011-08-12 10:00:00,"United States, Georgia",United States

In [ ]:
categorization.get_beers_head()

    bid  n_ratings  avg_rating  ba_score  std_rating
0     3          3    4.106667       NaN    0.228813
1     4         10    3.639000      84.0    0.574708
2     5       1538    3.441203      78.0    0.554967
3     6       2660    3.657617      82.0    0.485640
4     7       2977    3.265694      74.0    0.631811
5     8        132    3.290682      77.0    0.581732
6     9        215    3.172698      74.0    0.557561
7    10       1608    3.807351      86.0    0.426868
8    11         80    3.305125      78.0    0.474257
9    12         83    3.744217      85.0    0.478819
10   13         83    3.125783      76.0    0.538517
11   14        243    3.744938      84.0    0.493320
12   15        152    3.665658      83.0    0.420286
13   16         12    3.831667      84.0    0.354726
14   17       1941    3.314044      75.0    0.546628
15   18         10    3.432000      83.0    0.380100
16   19        638    4.039373      90.0    0.468764
17   20         46    4.001956      87.0    0.401457
18   21         59    4.250000      90.0    0.398357
19   23        272    3.680919      84.0    0.436137
20   24        145    3.781655      85.0    0.403751
21   26        155    3.463161      80.0    0.395156
22   27         91    3.339011      79.0    0.443361
23   28          1    3.450000       NaN    0.000000
24   29        146    2.939110      71.0    0.425650
25   30       4582    4.233433      94.0    0.453167
26   31       2241    3.894257      87.0    0.434255
27   32        430    4.032000      89.0    0.394362
28   33       4233    4.199608      93.0    0.437685
29   34       9123    4.318108      96.0    0.482291

In [ ]:
user_ids = categorization.get_userIds_list()
print(len(user_ids))
user_ids[:3]

153704

['nmann08.184925', 'stjamesgate.163714', 'mdagnew.19527']

In [ ]:
t = time.time()
categorization.compute_all_scores()
print("Total time",time.time()-t)

/home/juliette/Documents/EPFL/Ada/Ada_project/3/ada-2022-project-analyteam/categories.py:164: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  return cfm_scores, exp_scores, xpl_scores, adv_scores
/home/juliette/Documents/EPFL/Ada/Ada_project/3/ada-2022-project-analyteam/categories.py:181: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

Total time 8.793626070022583

In [ ]:
from copy import copy

r = copy(categorization.users_ddf)
r[r["uid"] == "swungomonkey.698859"]

,n_ratings,n_reviews,uid,username,joined,location,country,cfm_score,exp_score,xpl_score,adv_score
14,154,0,swungomonkey.698859,swungomonkey,2012-10-13 10:00:00,0,0,0.0,0.0,0,0

In [ ]:
r = copy(categorization.ratings_ddf)
r[r["uid"] == "swungomonkey.698859"]

Empty DataFrame
Columns: [date, uid, bid, rating, dated_rating, rank]
Index: []

In [ ]:
from copy import copy
uid =  "nmann08.184925"

r = copy(categorization.users_ddf)
r[r["uid"] == uid]

,n_ratings,n_reviews,uid,username,joined,location,country,cfm_score,exp_score,xpl_score,adv_score
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States,1.144488,1.033071,2164,240

In [ ]:
r = copy(categorization.ratings_ddf)
r.loc[r["uid"] ==  uid]

                      date             uid     bid  rating  dated_rating  rank
19604  2017-04-11 10:00:00  nmann08.184925   71806    4.06      4.556864   118
60400  2015-08-20 10:00:00  nmann08.184925   94957    3.90      4.157708    48
43161  2014-08-03 10:00:00  nmann08.184925  131915    3.50      3.500000     1
51118  2013-11-28 11:00:00  nmann08.184925    4962    3.50      3.623895    95
8752   2011-12-14 11:00:00  nmann08.184925     750    3.00      2.805037   135
...                    ...             ...     ...     ...           ...   ...
118612 2011-11-18 11:00:00  nmann08.184925   37966    4.25      4.061457   247
41849  2011-12-05 11:00:00  nmann08.184925    1312    3.00      2.942943   401
19853  2011-11-25 11:00:00  nmann08.184925   59155    4.50      4.083750    32
65256  2015-07-12 10:00:00  nmann08.184925  111006    3.86      3.956667     9
65218  2017-04-30 10:00:00  nmann08.184925  257127    3.84      3.956667     3

[7820 rows x 6 columns]

In [ ]:
set_uids = set(categorization.ratings_ddf["uid"])
len(set_uids)

117858

In [ ]:
users_ddf = copy(categorization.users_ddf)
users_ddf = users_ddf.loc[users_ddf["n_ratings"] > 0]
print(len(users_ddf.index))
users_ddf.head(5)

153704

,n_ratings,n_reviews,uid,username,joined,location,country,cfm_score,exp_score,xpl_score,adv_score
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States,1.144488,1.033071,2164,240
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States,2.161687,1.310290,1194,33
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0

In [ ]:
categorization.users_ddf.head(30)

,n_ratings,n_reviews,uid,username,joined,location,country,cfm_score,exp_score,xpl_score,adv_score
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States,1.144488,1.033071,2164,240
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States,2.161687,1.310290,1194,33
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland,0.000000,0.000000,0,0
5,2326,0,hellpop65.48993,Hellpop65,2005-11-14 11:00:00,"United States, Kansas",United States,0.560606,0.546388,262,113
6,3098,0,latarnik.52897,Latarnik,2005-12-02 11:00:00,"United States, New Jersey",United States,2.286032,1.890875,532,441
7,1866,23,rochefortchris.697017,RochefortChris,2012-10-02 10:00:00,"United States, North Carolina",United States,0.724142,0.627627,391,85
8,1131,188,okcnittany.144868,OKCNittany,2007-06-25 10:00:00,"United States, Oklahoma",United States,1.565749,1.119534,69,18
9,9987,16,jaydoc.265507,jaydoc,2008-11-12 11:00:00,"United States, Kansas",United States,2.400808,1.596917,3039,262
10,4078,127,ejimhof.5743,ejimhof,2004-04-12 10:00:00,"United States, Pennsylvania",United States,0.445334,0.411344,679,198
11,2329,5,graduatedcashew.730089,GraduatedCashew,2013-04-25 10:00:00,"United States, California",United States,1.598778,1.043285,493,143
12,264,95,brewdude1982.691169,brewdude1982,2012-08-24 10:00:00,"United States, North Carolina",United States,0.974404,0.804811,23,7
13,2314,1990,agentmunky.409755,AgentMunky,2009-12-29 11:00:00,"United States, New York",United States,1.254330,0.937952,545,81
14,154,0,swungomonkey.698859,swungomonkey,2012-10-13 10:00:00,0,0,0.000000,0.000000,0,0
15,732,14,byofb.537281,BYOFB,2010-12-11 11:00:00,"United States, Wisconsin",United States,2.363190,1.555077,15,37
16,16,1,cadensdad.704691,CadensDad,2012-11-24 11:00:00,"United States, Pennsylvania",United States,0.271261,0.245427,0,2
17,585,389,ferrari29.320392,ferrari29,2009-04-15 10:00:00,"United States, Illinois",United States,2.102941,1.509123,56,21
18,10,0,samurai221.575106,samurai221,2011-03-03 11:00:00,"United States, Virginia",United States,0.479848,0.458627,0,0
19,1315,1315,othershoe2.233642,OtherShoe2,2008-07-09 10:00:00,"United States, Massachusetts",United States,2.736187,1.898907,88,60
20,231,0,friedgold2112.672227,FriedGold2112,2012-04-12 10:00:00,0,0,0.000000,0.000000,0,0
21,6306,6306,brentk56.6284,brentk56,2004-05-13 10:00:00,"United States, North Carolina",United States,1.628325,1.259431,1010,49
22,6260,4734,emerge077.17949,emerge077,2005-04-16 10:00:00,"United States, Illinois",United States,1.561838,1.145096,2759,270
23,1851,10,buckyp.435592,buckyp,2010-03-07 11:00:00,"United States, South Carolina",United States,2.007598,1.883168,204,104
24,3758,3562,garthdanielson.522584,GarthDanielson,2010-11-06 11:00:00,"United States, Virginia",United States,2.146929,1.580402,1156,108
25,187,1,poopsmitherson.468246,poopsmitherson,2010-06-10 10:00:00,"United States, Georgia",United States,0.354011,0.334435,3,0
26,1489,355,animal69.160100,animal69,2007-09-21 10:00:00,"United States, Louisiana",United States,2.962160,1.753188,82,130
27,5347,5199,chinchill.199175,chinchill,2008-02-29 11:00:00,"United States, South Carolina",United States,1.249005,1.078250,1614,191
28,2439,1372,barnzy78.224763,barnzy78,2008-06-02 10:00:00,"United States, Illinois",United States,1.186639,1.262796,204,134
29,1,1,brettmc.615627,BrettMc,2011-08-12 10:00:00,"United States, Georgia",United States,0.602323,0.409538,0,0

In [ ]:
categorization.beers_ddf.head(20)

    bid  n_ratings  avg_rating  ba_score  std_rating
0     3          3    4.106667       NaN    0.228813
1     4         10    3.639000      84.0    0.574708
2     5       1538    3.441203      78.0    0.554967
3     6       2660    3.657617      82.0    0.485640
4     7       2977    3.265694      74.0    0.631811
5     8        132    3.290682      77.0    0.581732
6     9        215    3.172698      74.0    0.557561
7    10       1608    3.807351      86.0    0.426868
8    11         80    3.305125      78.0    0.474257
9    12         83    3.744217      85.0    0.478819
10   13         83    3.125783      76.0    0.538517
11   14        243    3.744938      84.0    0.493320
12   15        152    3.665658      83.0    0.420286
13   16         12    3.831667      84.0    0.354726
14   17       1941    3.314044      75.0    0.546628
15   18         10    3.432000      83.0    0.380100
16   19        638    4.039373      90.0    0.468764
17   20         46    4.001956      87.0    0.401457
18   21         59    4.250000      90.0    0.398357
19   23        272    3.680919      84.0    0.436137

In [ ]:
adventurer_scores = categorization.get_adventurer_score()
print(adventurer_scores)
categorization.users_ddf

In [ ]:
explorer_scores = categorization.get_explorer_score_for_all_users()
print(explorer_scoresorer_scores)
categorization.users_ddf