In [12]:
import pandas as pd
import time

import categories as cat

In [13]:
ratings_parquets_path = 'RefinedData/BeerAdvocate//ratings.parquet'
beers_parquet_path = "RefinedData/BeerAdvocate/beers.parquet/"
users_parquet_path = "RefinedData/BeerAdvocate/users.parquet/"

In [14]:
categorization = cat.Categorization(ratings_parquets_path, beers_parquet_path, users_parquet_path)

RATINGS DDF
---------------------------------------------
BEERS DDF
---------------------------------------------
USERS DDF
---------------------------------------------

c:\Users\avern\Documents\GitHub\ada-2022-project-analytea\categories.py:21: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  std_score=beerscsv_ddf_w_ratings_ddf.groupby('bid').apply(lambda beer,rating,avg_rating: sum((beer[rating] - beer[avg_rating])**2), 'rating', 'avg_rating').rename('std_rating').reset_index()

      bid  n_ratings  avg_rating  n_reviews  review_rate  ba_score  \
0  127138          2    3.625000          1     0.500000       NaN
1  125211          7    3.778571          4     0.571429      84.0

   bros_score         name               style   abv  std_rating
0         NaN  Maiden 2013  English Barleywine  11.1    0.000000
1         NaN   White Tips             Witbier   4.5    0.277257

In [15]:
users = categorization.get_userIds_list()[:5]
print("nb users : ",len(categorization.get_userIds_list()))

users.head()

nb users :  153704

['nmann08.184925',
 'stjamesgate.163714',
 'mdagnew.19527',
 'helloloser12345.10867',
 'cypressbob.3708']

In [16]:
for user in users:
    t = time.time()
    print("summation :",categorization.get_adventurer_score(user))
    print("Total time for user : ",user,":", time.time()-t)
    print("---------------------------------------------------------")

ADVENTURER SCORE FOR  nmann08.184925
   time prep user :  17.573562383651733
   time ratings for all beers for user :  4.852521896362305
   total time for user :  44.19765639305115
summation : 2
Total time for user :  nmann08.184925 : 66.65370464324951
---------------------------------------------------------
ADVENTURER SCORE FOR  stjamesgate.163714
   time prep user :  15.121191501617432
   time ratings for all beers for user :  4.3946123123168945
   total time for user :  8.669024229049683
summation : 0
Total time for user :  stjamesgate.163714 : 28.203827619552612
---------------------------------------------------------
ADVENTURER SCORE FOR  mdagnew.19527
   time prep user :  15.951669692993164
   time ratings for all beers for user :  4.025091648101807
   total time for user :  0.0
summation : 0
Total time for user :  mdagnew.19527 : 19.977762460708618
---------------------------------------------------------
ADVENTURER SCORE FOR  helloloser12345.10867
   time prep user :  15.749167442321777
   time ratings for all beers for user :  4.216439485549927
   total time for user :  0.0
summation : 0
Total time for user :  helloloser12345.10867 : 19.965606927871704
---------------------------------------------------------
ADVENTURER SCORE FOR  cypressbob.3708
   time prep user :  15.247667074203491
   time ratings for all beers for user :  4.830517292022705
   total time for user :  0.0
summation : 0
Total time for user :  cypressbob.3708 : 20.07918381690979
---------------------------------------------------------

In [17]:
x = 0
x = 1/x if x!=0 else 1
x

1

In [18]:
df =pd.DataFrame(data={'id':[111,111,111,333,444],'user_id':[11,22,33,44,55],'date': [10,1, 2,9,8], 'rating': [0,1, 1,5,6]}) 
df

    id  user_id  date  rating
0  111       11    10       0
1  111       22     1       1
2  111       33     2       1
3  333       44     9       5
4  444       55     8       6

In [19]:
len(df.index)

5

In [20]:
df.loc[df["id"] == 111][["user_id","date"]].sort_values("date")

   user_id  date
1       22     1
2       33     2
0       11    10

In [21]:
df.loc[df["id"] == 111].loc[df["rating"] == 1]

    id  user_id  date  rating
1  111       22     1       1
2  111       33     2       1

In [22]:
type(df["col1"][0])

KeyError: 'col1'