## Test Pipelines

---

In [1]:
from setup import dask_init, dask_shutdown
import dask.distributed as dd
import dask.dataframe as ddf

import pandas as pd
import numpy as np

import ingestion as ing
import processing as prc

import datetime as dt

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

%load_ext autoreload
%autoreload 2

**setup**

In [ ]:
# PANDAS SETUP
pd.options.mode.use_inf_as_na = True

# DASK SETUP
client, cluster = dask_init()
cluster

LocalCluster(7329e905, 'tcp://127.0.0.1:43899', workers=4, threads=8, memory=7.66 GiB)

**Pipelines**

In [18]:
users_ddf = prc.users_pipeline(persist=False)
users_ddf.head(5)

,n_ratings,n_reviews,uid,username,joined,location,country
0,7820,465,nmann08.184925,nmann08,2008-01-07 11:00:00,"United States, Washington",United States
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 10:00:00,"United States, New York",United States
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 10:00:00,Northern Ireland,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 11:00:00,Northern Ireland,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:00,Northern Ireland,Northern Ireland

In [19]:
ratings_ddf = prc.ratings_pipeline(persist=False, users_persisted=True)
ratings_ddf.head(5)

,date,bid,uid,appearance,aroma,palate,taste,overall,rating,has_review,review
0,2015-08-20 10:00:00,142544.0,nmann08.184925,3.25,2.75,3.25,2.75,3.00,2.88,True,"From a bottle, pours a piss yellow color with ..."
1,2015-11-14 11:00:00,120824.0,nmann08.184925,4.00,3.50,3.75,3.50,3.50,3.56,False,None
2,2011-11-18 11:00:00,47581.0,nmann08.184925,NaN,NaN,NaN,NaN,NaN,4.50,False,None
3,2013-05-03 10:00:00,93113.0,nmann08.184925,NaN,NaN,NaN,NaN,NaN,3.75,False,None
4,2015-01-24 11:00:00,875.0,nmann08.184925,4.00,3.50,3.75,4.00,3.75,3.81,False,None

In [20]:
beers_ddf = prc.beers_pipeline(persist=False, ratings_persisted=True)
beers_ddf.head(5)

        bid  avg_rating  review_rate  n_ratings  n_reviews
0    1000.0    3.801689     0.648649        148         96
1  100001.0    3.940000     1.000000          1          1
2  100004.0    4.207500     0.750000          4          3
3  100007.0    4.041176     0.078431         51          4
4  100008.0    3.850000     0.083333         12          1

In [ ]:
dask_shutdown(client)